{% extends 'lay.html' %}
{% block title %}Home{% endblock %}
{% block head %}<link rel="stylesheet" type="text/css" href="./../static/css/homepage.css">{% endblock %}
{% block body %}
	<div class="container">
		<br><br>
	 	<center>
        <span class="b1">SPLIT UP</span>
        <br><br>
        <p class="lead">Now, Splitting Bills Became Easy. Make sure everyone gets paid back.<br>
        <b>Totally free for web</b> 
        </p>
        <br>
        <div>
        	<a class="btn btn-lg btn-primary" href="login" role="button">
        	<div class="start">Get Started Now</div>
        	<div class="free">(It's Free)</div>
        	</a>
        </div>
	    </center>
    </div>
{% endblock %}