{% extends 'dashlayout.html' %}
{% block title %}Add Bill{% endblock %}
{% block head %}{% endblock %}
{% block label %}Transaction{% endblock %}
{% block body %}
<form method="POST">
	<div class="form-group">
		<label>Description</label>
		<input class="form-control" name="description" type="text" placeholder="Enter a description" required>
	</div>
	<div class="form-group">
		<label>Amount</label>
		<input class="form-control" name="amount" type="decimal" placeholder="0.00" required>
	</div>
	<div class="dropdown">
		<select name="options">
			  <option value="1">Paid by you and split equally</option>
			  <option value="2">You owe the full amount</option>
			  <option value="3">They owe the full amount</option>
			  <option value="4">Paid by the other person and split equally</option>
		</select>
	</div>
	<br> 
	<center><button class="btn btn-lg btn-success" type="submit">Add Bill</button></center>
</form>
{% endblock %}